// $bg-color: #f06292;
// $text-color: #f1d3b3;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;
$btn-primary: #f35525;
$btn-secondary: #1e1e1e;
$text-primary: #1e1e1e;
$text-secondary: #4a4a4a;
$text-tertiary: #aaa;
$breadcrumb-color: #ee626b;
$fun-fact: #ffeee9;
$deals-bg: #FAFAFA;

// RESPONSIVE BREAKPOINTS
// small tablets and large smartphones
$screen-xs-min: 576px;

// small tablets and large smartphones landscape view
$screen-xs-l-min: 667px;

// small tablets (portrait view)
$screen-sm-min: 768px;

// tablets and small desktops
$screen-md-min: 992px;

// large tablets and desktops
$screen-lg-min: 1200px;

// screens with minimum 1366 resolution
$screen-xl-min: 1367px;

// screens with minimum 1600 resolution
$screen-xxl-min: 1600px;

// screens with minimum 1920 resolution
$screen-xxxl-min: 1920px;

// 1440x900 	8:5 	5.7% 	19'' monitor
// 1600x900 	16:9 	4.6% 	20'' monitor
// 1680x1050 	8:5 	2.8% 	22'' monitor
// 1920x1080 	16:9 	9.4% 	21.5'' monitor / 23'' monitor / 1080p TV

// screens with minimum 1440 resolution
// $screen-xl-1-min: 1440px;

// $screen-xl-2-min: 1600px;

// $screen-xl-3-min: 1680px;

// $screen-xl-4-min: 1920px;

// $screen-xl-5-min: 2560px;