@import '/src/Styles/variables';
@import '/src/Styles/mixins';

.featured {
  
  &-section {
    margin-bottom: 50px;
    position: relative;

    @include rwd($screen-md-min) {
      margin-bottom: 0;
    }

    .heading {
      h4 {
        color: $breadcrumb-color;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
      }

      h2 {
        color: $text-primary;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 60px;
        text-transform: capitalize;
      }
    }

    .accordion {
      background-color: #fafafa;
      --bs-accordion-border-color: none;
      // border-width: 0;
      color: $text-primary;

      &-item {
        background: none;
      }

      &-button {
        background: inherit;
      }
    }
  }

  &-container {
    width: 70%;
    margin: 0 auto;

    @include rwd($screen-sm-min) {
      width: 50%;
    }
    
    @include rwd($screen-md-min) {
      width: 100%;
    }
  }

  &-image {
    position: relative;
    
    img {
      width: 100%;
      padding-left: 55px;
      margin-bottom: 50px;
  
      // @include rwd($screen-lg-min) {
      //   padding-left: 25px;
      // }
    }
  }

  &-icon {
    width: 110px;
    height: 110px;
    background-color: $btn-primary;
    border: 1px solid #f00;
    border-radius: 50%;
    // bottom: -55px;
    bottom: 0;
    display: inline-block;
    left: 0;
    line-height: 110px;
    position: absolute;
    text-align: center;

    img {
      width: auto;
      padding: 0;
      margin: 0;
    }
  }
}

/* .featured-image {
  width: 100%;
  padding-left: 55px;
}

.featured-icon {
  width: 110px;
  height: 110px;
  background-color: $btn-primary;
  border: 1px solid #f00;
  border-radius: 50%;
  bottom: -55px;
  display: inline-block;
  left: 0;
  line-height: 110px;
  position: absolute;
  text-align: center;
} */

.featured-info {
  min-height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  color: $text-tertiary;
  flex-direction: column;
  font-size: 15px;
  padding: 0 30px;

  &-item {
    border-bottom: 1px solid #eee;
    flex: 1;
    padding: 35px 0;

    @include rwd($screen-md-min) {
      padding: 20px 0;
    }

    h4 {
      color: $text-primary;
      font-size: 22px;
      font-weight: 600;
    }
  }

  img {
    width: 100%;
  }
}
