@import "/src/Styles/variables";
// @import "/src/Styles/mixins";

.social-links {
  display: flex;
  flex-basis: 100%;
  justify-content: right;
  list-style-type: none;
  margin: 0;

  &-item {
    width: 30px;
    height: 30px;
    background-color: #cdcdcd;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    margin: 0 0 0 10px;
    text-align: center;
    line-height: 30px;

    a {
      color: inherit;
      display: block;
    }

    &:hover {
      background-color: $btn-primary;
      color: #fff;
    }
  }
}